<table class="ui table">
  <thead>
    <th>Code</th>
    <th>Temp</th>
    <th>Wind Speed</th>
    <th>Pressure</th>
  </thead>
  <tbody>
    {{#each stations.readings}}
    <tr>
      <td>{{code}}</td>
      <td>{{temp}}</td>
      <td>{{windSpeed}}</td>
      <td>{{pressure}}</td>
      <td><a href="/stations/{{../stations.id}}/deletereadings/{{id}}" class="ui tiny red button"> Delete Readings</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>